/* App */

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(57, 127, 160);
    min-height: 100vh;
    color: rgb(219, 217, 217);
    font-family: 'Chivo', sans-serif;
}


/* Holiday request */

.holidayRequest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: rgb(28, 98, 126);
    padding: 25px;
    border-radius: 15px;
}

.holidayRequest__container {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form__label {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__view {
    background-color: rgb(28, 98, 126);
    padding: 25px;
    border-radius: 15px;
    width: 35%;
    margin-top: 50px;
}

.form__view__object,
.form__view__body {
    position: relative;
}

.form__view__body {
    margin-top: 50px;
}

.copy__btn {
    position: absolute;
    right: 0;
}