/* App */

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(57, 127, 160);
    min-height: 100vh;
    color: rgb(219, 217, 217);
    font-family: 'Chivo', sans-serif;
}


/* Bootstrap custom */

.nav-link a {
    /* background-color: rgb(139, 139, 139)!important; */
    color: rgb(223, 230, 233) !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #de7700 !important;
}


/* Holiday request */

.holidayRequest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: rgb(28, 98, 126);
    padding: 25px;
    border-radius: 15px;
    width: 90%;
    max-width: 720px;
}

.holidayRequest__container {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
}

.form__label {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.form__view {
    background-color: rgb(28, 98, 126);
    padding: 25px;
    border-radius: 15px;
    width: 90%;
    margin: 50px 15px 15px 15px;
    max-width: 720px;
}

.form__view__object,
.form__view__body {
    position: relative;
}

.form__view__body {
    margin-top: 50px;
    margin-bottom: 70px;
}

.copy__btn {
    position: absolute;
    right: 0;
}


/* OrangeMBTSReport */

.radio__label p {
    margin: 0 25px;
}

.mg-top-20px {
    margin-top: 20px;
}

.wrapSentence {
    display: inline;
    overflow-wrap: break-word;
}


/* OrangeMBTSReport alarm section */

.externalAlarmQuestion {
    margin-bottom: 15px;
}


/* OrangeMBTSReport battery section */

.batteryString {
    border-top: 2px solid white;
    margin-top: 15px;
}


/* OrangeMBTSReport remark section */

.endFormRemark__input {
    height: 100px;
}


/* class for the temp window while copy to clip board */

.tempWindow {
    position: absolute;
    left: 0;
    top: 25px;
    background-color: rgb(243, 182, 67);
    color: white;
    padding: 10px;
    border-radius: 10px;
}


/* Media queries */


/* @media screen and (max-width: 950px) {
    .form,
    .form__view {
        width: 45%;
    }
} */


/* @media screen and (max-width: 750px) {
    .form,
    .form__view {
        width: 55%;
    }
} */

@media screen and (max-width: 600px) {
    .form,
    .form__view {
        width: 75%;
    }
}

@media screen and (max-width: 515px) {
    .form,
    .form__view {
        width: 75%;
    }
    .form__label {
        display: flex;
        flex-direction: column;
    }
    .form__label label {
        margin-bottom: 10px;
    }
    .holidayRequest__title {
        text-align: center;
    }
}